body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: #28b186;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}

header h1 {
  font-size: 2em;
}

main {
  padding: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28b186;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #0b4634;
  transform: scale(1.1);
}
.error-gif {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
  margin-top: 20px;
  width: 50px;
}
.swing-text {
  font-size: 2em;
  animation: swing 2s ease-in-out infinite; 
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
